<div class="dashboard-container" data-controller="active-chat" >
  <div><%= render "tabs" %></div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fas fa-inbox"></i> Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-search"></i> Search messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dashboard_binomes_unread"><i class="fas fa-envelope"></i> Unread - <%= @number%></a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- binomes List Column -->
          <div class="col-md-3 binomes-list">
            <h4>Les nouveaux messages</h4>
            <ul class="list-group">
              <% if @binomes.present? %>
                <div class="binome-preview">
                  <% @binomes.each do |binome| %>
                    <%= link_to binome_path(binome), data: { turbo_frame: "binome_content" } do %>
                      <div class="chatroom-info" data-action="click->active-chat#highlight" data-active-chat-target="info">
                        <div class="chatroom-info-without-chevron">
                          <div class="avatar">
                            <% if binome.other_user(current_user).photo.attached? %>
                              <%= cl_image_tag binome.other_user(current_user).photo.key, crop: :fill, class: "avatar" %>
                            <% else %>
                              <%= image_tag "default-user.svg", crop: :fill, alt: "default-profile-photo"%>
                            <% end %>
                          </div>
                          <div class="name-and-notif">
                            <h5><%= binome.other_user(current_user).first_name %> <%= binome.other_user(current_user).last_name %></h5>
                            <% if binome.messages.where(sender: binome.other_user(current_user), reading: false).count > 0 %>
                              <%= turbo_stream_from [binome, current_user] %>
                                <div class="badge rounded-pill text-bg-info">
                                  <% if binome.messages.where(sender: binome.other_user(current_user), reading: false).count == 1 %>
                                    <p>1 message non lu</p>
                                  <% else %>
                                    <p><%= binome.messages.where(sender: binome.other_user(current_user), reading: false).count %> messages non lus</p>
                                  <% end %>
                                </div>
                              <%# <p class="last-message"></p>
                              <%= binome.messages.last.content.truncate(7) %>
                              <%# <small> ago</small> %>
                            <% end %>
                          </div>
                        </div>
                        <h3><i class="fa-solid fa-chevron-right"></i></h3>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <li class="list-group-item">No chatrooms available</li>
              <% end %>
            </ul>
          </div>
          <!-- Message Exchanges Column -->
          <div class="col-md-9">
            <%= turbo_frame_tag "binome_content" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
