<div class="dashboard-container">
  <div><%= render "tabs" %></div>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="dashboard_binomes"><i class="fas fa-inbox"></i> Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-search"></i> cherchez un message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fas fa-envelope"></i> Messages non lus - <%= @number%></a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- binomes List Column -->
        <div class="col-md-3 binomes-list">
          <h4>Votre messagerie</h4>
          <ul class="list-group">
            <% if @binomes.present? %>
              <% @binomes.each do |binome| %>
              <% if binome.messages.where(sender: binome.other_user(current_user), reading: false).count > 0%>
                <%= link_to binome_path(binome), data: { turbo_frame: "binome_content" } do %>
                  <div class="chatroom-preview">
                    <div class="avatar">
                      <%= image_tag "", class: "img-thumbnail" %>
                    </div>
                    <div class="chatroom-info">
                      <h5><%= binome.other_user(current_user).first_name %> <%= binome.other_user(current_user).last_name %></h5>
                      <% if binome.messages.any? %>
                      <%= turbo_stream_from [binome, current_user] %>
                        <div class="badge rounded-pill text-bg-info">Unread : <%= binome.messages.where(sender: binome.other_user(current_user), reading: false).count %></div>
                        <p class="last-message">
                          <%= binome.messages.last.content.truncate(50) %>
                        </p>
                        <small><%= time_ago_in_words(binome.messages.last.created_at) %> ago</small>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% end %>
            <% else %>
              <li class="list-group-item">No binome available</li>
            <% end %>
          </ul>
        </div>

        <!-- Message Exchanges Column -->
        <div class="col-md-9">
          <%= turbo_frame_tag "binome_content" %>
        </div>
      </div>
    </div>
  </div>
</div>
